@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --corPrimariaTextos: #FFFFFF;
    --corSecundariaTextos: #C0C0C0;
    --corTerciariaTextos: #F9F9F9;
    --corPrimariaBotoes: #167BF7;
    --corFundo: #00030C;

    --fontePrimaria: 'Inter', sans-serif;
}

/*-------------------------------------------*/

body {
    background-color: var(--corFundo);
    color: var(--corPrimariaTextos);
    font-family: var(--fontePrimaria);
    font-size: 1rem;
    font-weight: 400;
}

/*----------------------------- primeira section -----------------------------*/
.principal {
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 3.35rem;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1.35rem 0 3.35rem 0;
    width: 50%;
}

.container__botao {
    background-color: var(--corPrimariaBotoes);
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
    color: var(--corPrimariaTextos);
    display: block;
    font-family: var(--fontePrimaria);
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--corPrimariaTextos);
}

.container__aviso {
    font-family: var(--fontePrimaria);
    font-size: 0.75rem;
    color: var(--corSecundariaTextos);
}
/*----------------------------------------------------------*/

/*----------------------------- segunda section -----------------------------*/

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 3.35rem;
}

.descricao__titulo {
    font-size: 3rem;
    font-family: var(--fontePrimaria);
    font-weight: 700;
    color: var(--corPrimariaTextos);
}

.descricao__texto {
    font-size: 1rem;
    font-family: var(--fontePrimaria);
    font-weight: 400;
    color: var(--corSecundariaTextos);
    margin-top: 0.5rem;
}

/*----------------------------------------------------------*/

/*----------------------------- terceira section -----------------------------*/
.secundario__botao {
    display: inline-block;
    margin: 1rem 0 0 0;
}

.container__descricao {
    padding: 2rem;
}

/*----------------------------- quinta section (itens) -----------------------------*/

.dispositivos {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0 3.35rem;
    margin-bottom: 5rem;
}

.dispositivos__titulo {
    font-family: var(--fontePrimaria);
    font-size: 3rem;
    font-weight: 700;
    color: var(--corPrimariaTextos);
}

.dispositivos__lista {
    display: flex;
    gap: 10rem;
    justify-content: center;
    list-style-type: none;
    font-family: var(--fontePrimaria);
    font-size: 2rem;
    font-weight: 700;
    width: auto;
}

/*----------------------------- footer -----------------------------*/
.rodape {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 3.35rem;
    align-items: center;
    margin-bottom: 1rem;
}

.rodape__lista {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.lista__link {
    text-decoration: none;
    font-family: var(--fontePrimaria);
    font-weight: 400;
    color: var(--corSecundariaTextos);
}

.rodape__lista a:hover {
    color: var(--corPrimariaBotoes);
}

.rodape__lista li:hover {
    transform: scale(1.08);
}

.rodape__texto {
    font-family: var(--fontePrimaria);
    font-weight: 400;
    color: var(--corSecundariaTextos);
    font-size: 0.75rem;
}
